/* Sidebar logo */
[data-css="sidebar-branding"] img {
  max-height: 50px !important; 
  width: auto !important;
}

/* Login page logo */
[data-css="login-logo"] img {
  max-height: 100px !important;
  width: auto !important;
}
